* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.parentDiv {
  min-height: 100vh;
}

#flower-ball1,
#flower-ball2,
#flower-ball3,
#c1,
#c2,
#c3,
#c4,
#c5,
#c6 {
  animation: gone 1.9s ease-in-out 0.5s forwards;
}

@keyframes gone {
  100% {
    opacity: 0;
  }
}

#top {
  animation: eTop 2s ease-in-out 1 alternate forwards;
}

@keyframes eTop {
  0% {
    d: path(
      "M327 80C327 106.51 305.51 128 279 128C265.593 128 253.47 122.504 244.761 113.641C236.25 104.979 231 93.1029 231 80C231 53.4903 252.49 32 279 32C292.407 32 304.53 37.4965 313.239 46.359C321.75 55.0205 327 66.8971 327 80Z"
    );
  }

  100% {
    d: path(
      "M164.5 147C164.5 164.5 164.5 174.5 164.5 185C151.093 185 151 185 138 185C138 174.5 138 137.103 138 124C157.5 124 201.991 124 228.5 124C228.5 133.5 228.5 138.5 228.5 147C196 147 181.5 147 164.5 147Z"
    );
  }
}

#mid {
  animation: eMid 2s ease-in-out 1 alternate forwards;
}

@keyframes eMid {
  0% {
    d: path(
      "M116 236C116 262.51 94.5097 284 68 284C54.5932 284 42.4701 278.504 33.7614 269.641C25.2501 260.979 20 249.103 20 236C20 209.49 41.4903 188 68 188C81.4068 188 93.5299 193.496 102.239 202.359C110.75 211.021 116 222.897 116 236Z"
    );
  }

  100% {
    d: path(
      "M219 207.5C192 207.5 178.407 207.5 165 207.5C151.594 207.5 149 207.5 138 207.5C138 197 138 197.603 138 184.5C155 184.5 138.491 184.5 165 184.5C178.407 184.5 198.5 184.5 219 184.5C219 190.5 219 197 219 207.5Z"
    );
  }
}

#bottom {
  animation: eBottom 2s ease-in-out 1 alternate forwards;
}

@keyframes eBottom {
  0% {
    d: path(
      "M327 332C327 358.51 305.51 380 279 380C265.593 380 253.47 374.504 244.761 365.641C236.25 356.979 231 345.103 231 332C231 305.49 252.49 284 279 284C292.407 284 304.53 289.496 313.239 298.359C321.75 307.021 327 318.897 327 332Z"
    );
  }

  100% {
    d: path(
      "M230.5 251C230.5 262.5 230.5 267.5 230.5 273.5C217.093 273.5 165.5 273.5 138.001 273.5C138.001 245 138.001 219.103 138.001 206C147.002 206 138.991 206 165.501 206C165.501 221.5 165.5 233.5 165.5 251C183.501 251 219.501 251 230.5 251Z"
    );
  }
}

#u-left-final {
  animation: uLeftIn 2s ease-in-out forwards;
}

@keyframes uLeftIn {
  0% {
    d: path(
      "M158 139C158 152.733 152.463 165.174 143.5 174.21C134.441 183.344 121.881 189 108 189C80.3858 189 58 166.614 58 139C58 111.386 80.3858 89 108 89C135.614 89 158 111.386 158 139Z"
    );
  }
  100% {
    d: path(
      "M210 251C206 251 201.5 251 195.5 251C190 251 186.5 251 180 251C180 238 180 140.614 180 113C188.5 113 182.386 113 210 113C210 138.5 210 223.386 210 251Z"
    );
  }
}

#u-bottom-final {
  animation: uBottomIn 2s ease-in-out forwards;
}

@keyframes uBottomIn {
  0% {
    d: path(
      "M172 343C172 357.728 165.632 370.968 155.5 380.119C146.634 388.125 134.886 393 122 393C94.3858 393 72 370.614 72 343C72 315.386 94.3858 293 122 293C149.614 293 172 315.386 172 343Z"
    );
  }
  100% {
    d: path(
      "M307 251C307 265.728 307 269.5 307 281C281.5 281 192.886 281 180 281C180 267.5 180 258 180 251C192.5 251 204.5 251 210 251C238.5 251 276 251 307 251Z"
    );
  }
}

#u-right-final {
  animation: uRightIn 2s ease-in-out forwards;
}

@keyframes uRightIn {
  0% {
    d: path(
      "M294 58C294 70.1724 289.65 81.329 282.42 90C273.249 101 259.442 108 244 108C216.386 108 194 85.6142 194 58C194 30.3858 216.386 8 244 8C271.614 8 294 30.3858 294 58Z"
    );
  }
  100% {
    d: path(
      "M307 182C307 194.172 307 229 307 240C297.5 240 292.442 240 277 240C277 225.5 277 140.614 277 113C282.5 113 297 113 307 113C307 141.5 307 154.386 307 182Z"
    );
  }
}

#x-left-final {
  animation: xLeftIn 2s ease-in-out forwards;
}

@keyframes xLeftIn {
  0% {
    d: path(
      "M389 343C389 356.13 383.939 368.078 375.661 377C366.53 386.841 353.484 393 339 393C311.386 393 289 370.614 289 343C289 315.386 311.386 293 339 293C366.614 293 389 315.386 389 343Z"
    );
  }
  100% {
    d: path(
      "M396 167C413.5 196.815 427 220 445.5 252C434 252 426.976 252 413.5 252C404 235.5 361 162.5 332 113C343.5 113 336.886 113 364.5 113C373 127.5 382.5 144 396 167Z"
    );
  }
}
#x-right-final {
  animation: xRightIn 2s ease-in-out forwards;
}

@keyframes xRightIn {
  0% {
    d: path(
      "M540 58C540 85.6142 517.614 108 490 108C462.386 108 440 85.6142 440 58C440 42.3255 447.213 28.3356 458.5 19.1682C467.098 12.185 478.06 8 490 8C517.614 8 540 30.3858 540 58Z"
    );
  }
  100% {
    d: path(
      "M459 113C412.5 194 376.5 255.5 362 280.5C352 280.5 341.5 280.5 329.5 280.5C337.5 267 372 207 396 166.5C404 153 420.5 125.168 427.5 113C438.5 113 452 113 459 113Z"
    );
  }
}
#x-bottom-right-final {
  animation: xBottomRightIn 2s ease-in-out forwards;
}

@keyframes xBottomRightIn {
  0% {
    d: path(
      "M588 309C588 336.614 565.614 359 538 359C510.386 359 488 336.614 488 309C488 293.326 495.213 279.336 506.5 270.168C515.098 263.185 526.06 259 538 259C565.614 259 588 281.386 588 309Z"
    );
  }
  100% {
    d: path(
      "M462 281C454 281 455 281 442.5 281C435 281 432 281 428.5 281C424 273 421.5 268 418.5 262.5C426.5 262.5 440.06 262.5 452 262.5C455.5 269 457 271.5 462 281Z"
    );
  }
}

#morphE {
  transform: translateX(40px);
}

#e-ball {
  transform: translateX(35%);
  animation: slideTo 1s ease-in-out 2.2s forwards;
}
#uxandIcon {
  transform: translateX(30%);
  animation: slideTo 1s ease-in-out 2.2s forwards;
}

@keyframes slideTo {
  100% {
    transform: translateX(0%);
  }
}

/* #name,
#design {
  clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  animation: appear 1s ease-in-out 2.2s forwards;
}

@keyframes appear {
  100% {
    clip-path: polygon(0% 0, 100% 0, 100% 100%, 0% 100%);
  }
} */

#name,
#design {
  clip-path: polygon(0 0, 0% 0, 0% 100%, 0% 100%);
  animation: appear 1s ease-in-out 3s forwards;
}

@keyframes appear {
  100% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
}
